.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem 1rem;
}

.container {
  margin: 2rem 0 10rem 0;
}

.loadingCat {
  margin: 5rem 0 5rem 0;
  display: flex;
  justify-content: center;
}