.card {
  width: 11.5rem;
  height: 9.5rem;
}

.breedName {
  width: inherit;
  display: flex;
  height: 2rem;
  position: relative;
  top: 7rem;
  align-items: center;
  justify-content: center;
}

.breedName h2 {
  margin: 0;
}