.card {
  position: relative;
  width: 11.5rem;
  height: 9.5rem;
}

.image img {
  width: 11.5rem;
  height: 9.5rem;
  border-radius: 0.25rem;
}

.heart {
  position: absolute;
  bottom: 0;
  right: 0.25rem;
  cursor: pointer;
  color: white;
}

.selected {
  color: red;
}

.heart svg {
  font-size: 2rem;
}