.card {
  position: relative;
  width: 11.5rem;
  height: 9.5rem;
  cursor: pointer;
}

.image img {
  width: 11.5rem;
  height: 9.5rem;
  border-radius: 0.25rem;
}

.heart {
  position: absolute;
  bottom: 0;
  right: 0.25rem;
  color: var(--main);
  opacity: 0;
}

.heartHover {
  opacity: 1;
  transition: all 0.3s;
}

.heart svg {
  font-size: 2rem;
}