.container {
  background-color: var(--main);
  width: 100vw;
  height: 5.5rem;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.links {
  width: 37rem;
  display: flex;
  justify-content: space-between;
  font-size: var(--md-font);
}

.links a {
  color: var(--black);
  text-decoration: none;
  transition: all 0.3s;
}

@media only screen and (max-width: 650px) {
  .links {
    width: 22rem;
  }

  .links a {
    font-size: 1.3rem;
  }
}